form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding: 15px 20px;
  background-color: #5A19B7;
  border-radius: 8px;
  color: white;
  font-weight: 600;
}

.inputField input {
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  border-radius: 8px;
  border: none;
}

.inputField input:focus {
  outline: none;
}

form button {
  padding: 8px;
  margin-top: 8px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  background-color: #6FA405;
  color: white;
}

@media (min-width: 600px) {
  form button:hover {
    background-color: #AED83C;
  }
}

