header {
  background-color: #5A19B7;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: url(/src/images/pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  color: white;
  margin-left: 10px;
}

.logo {
  width: 15vw ;
}

@media (min-width: 600px) {
  .logo {
    width: 10vw;
  }
}