.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAction {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: white;
  margin: 5px 5px;
  border: none;
  border-radius: 6px;
  transition: 300ms;
  background-color: #5A19B7;
  transition: 500ms;
}

.buttonAction:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.buttonAction:focus {
  outline: none;
}