.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  height: 80vh;
}

@media (min-width: 600px) {
  .container {
    height: 50vh;
  }
}