.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
} 

  table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #2C097A;
  color: #fff;
  font-weight: 600;
}

table tbody tr:nth-child(even) {
  background-color: #b3b3b3;
}

.action {
  border-radius: 8px;
  background-color: white;
}

.buttonAction {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: white;
  margin: 5px 5px;
  border: none;
  border-radius: 6px;
  transition: 300ms;
  background-color: #7825DB;
  transition: 300ms;
}

.red {
  background-color: #D82B17;
}

.green {
  background-color: #88BF07;
}

.buttonAction:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.buttonAction:focus {
  outline: none;
}

.addLink {
  text-decoration: none;
  padding: 10px;
  background-color: #45129D;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  margin: 20px 0;
}

@media (max-width: 600px) {
  table thead {
    display: none;
  }

  table, table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 15px;
  }

  table td {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  table td::before {
     content: attr(datalabel);
     position: absolute;
     left: 0;
     width: 50%;
     padding-left: 15px;
     font-weight: 500;
     text-align: left;
  }
}
